<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <style media="screen">
    body {
      background-color: #f90094;
      background-image: url("{{ page.bg-image }}");
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
     }
    </style>
    {% include nav.html %}
    {% include slidertown.html%}
    <main class="wrapper-dk">
      {{content}}
    </main>
    <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
